<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/sorting.css') }}">
    <title>Sorting</title>

    <style>
        #sort-options{ 
            margin-left: 10px;
        }
    </style>
    
  </head>

  <body>

    <!-- Navbar -->
    <nav class="navbar" >
        <div class="title" onClick="window.location.reload();">Sorting Algorithms</div>
    </nav>


    <div class="container"> 
        <div id="bar-container"> 
        </div>
    </div>


    <div class="selections-container">
        <div class="container-sort">
            <div class="select-sorting-algorithm-container">
                <div class="text-description">Sorting Algorithms</div>

                <select id="sort-options">
                    <option id="insertionSort" value="insertionSort">Insertion Sort</option>
                    <option id="selectionSort" value="selectionSort">Selection Sort</option>
                    <!-- <option id="mergeSort" value="mergeSort">Merge Sort</option>  -->
                </select>

            </div>
        </div>
        
        <div class="slidecontainer">
            <span id="range-value"> 25 </span><div class="text-description"> Bars</div>
            <input type="range" min="5" max="100" value="25" class="slider" id="myRange">
        </div>
    </div> 

    <div class="button-container">
        <button id="run-button" class="button ">Run</button>
        <button id="reset-button" class="button ">Reset Order</button> 
    </div>
    
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <script src="{{ url_for('static', filename='AnimateSorting.js') }}"></script>
    <script src="{{ url_for('static', filename='SortingAlgorithms.js') }}"></script>
</body>
</html>